body{
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

#content {
    left: 0;
    top: 0;
    width: 100vw;
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    color: white;
    box-sizing: border-box;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#header {
    background-color: #250C34;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 5%;
    box-sizing: border-box;
}

#logo {
    height: 120px;
    max-width: 100%;
    padding: 10px;
}

#nav {
    display: flex;
    flex-wrap: wrap; /* allows wrapping if needed */
    justify-content: flex-end;
    align-items: center;
}

.navButton {
    color: white;
    padding: 1rem;
    white-space: nowrap;
    cursor: pointer;
    
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 0px;
    text-decoration-color: #250C34;
}

.navButton:hover {
    text-decoration-thickness: 1px;
    text-decoration-color: white;
    transition: text-decoration-thickness 0.3s ease;
    transition: text-decoration-color 0.3s ease;
}

#NavHamburgerButton{
    font-size: 2rem;
    color: white;
    display: none;
    flex-direction: column;
    cursor: pointer;
}

#navSidebar {
    display: none;
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #250C34;
    transition: right 0.3s ease;
}

#navSidebarButtons {
    position: fixed;
    top: 10%;
    width: 100%;
    height: 60%;
    background-color: #250C34;
    display: flex;
    flex-direction: column;
    align-items: top;
}

.navSidebarButton {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: white;
    height: 10%;
    top: 50%;
    padding: 5%;
    white-space: nowrap;
    cursor: pointer;
    text-align: center;
    border: 0.1px solid #2d0c3f;
}

.navSidebarButton:hover {
    background-color: #2d0c3f;
    transition: background-color 0.3s ease;
}

#SidebarNavCloseButton {
    display: none;
    position: fixed;
    top: 2%;
    right: 5%;
    border-radius: 100px;
    height: 7.5%;
    aspect-ratio: 1/1;
    text-align: center;
    font-size: 3rem;
    color: white;
    cursor: pointer;
}

#SidebarNavCloseButton:hover {
    background-color: #2d0c3f;
    transition: background-color 0.3s ease;
}

#HomePage {
    background-color: #AED133;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#HomePageSection1 {
    background-color: #331140;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-height: 80vh;
}

#HomePageSection1Image{
    object-fit: cover;
    object-position: center center;
    padding: 5%;
    max-width: 200%;
}

#HomePageGap1{
    height: 100px;
    background-color: #AED133;
}

#HomePageSection2{
    background-color: #331140;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#HomePageSection2Text{
    color: white;
    font-size: clamp(15px, 1.5vw, 3vw);
    width: clamp(40%, 650px, 80%);
    padding: 5%;
}

#HomePageSection2Paragraph{
    line-height: 1.5;
}

#HomePageSection2LearnMoreButton{
    color:#AED133;
}

#HomePageSection2PictureSlider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 5%;
}

#HomePageSection2PictureSliderLabel{
    text-align: center;
}

#HomePageSection2PictureSliderContainer{
    border-radius: 25px;
    width: 70%;
    height: 40vw;
    overflow: hidden;
    align-items: center;
}

#HomePageSection2PictureSliderImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

#HomePageSection2PictureSliderLeftButton{
    position: relative;
    transform: translateY(-50%);
    top: -50%;
    left: 2.5%;
    width: 5%;
    aspect-ratio: 1/1;
    border-radius: 100px;
    border: none;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: clamp(15px, 1.5vw, 3vw);
    color: white;
    cursor: pointer;
    text-align: center;
}

#HomePageSection2PictureSliderLeftButton:hover{
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
}

#HomePageSection2PictureSliderRightButton{
    position: relative;
    transform: translateY(-50%);
    top: -50%;
    left: 85%;
    width: 5%;
    aspect-ratio: 1/1;
    border-radius: 100px;
    border: none;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: clamp(15px, 1.5vw, 3vw);
    color: white;
    cursor: pointer;
    text-align: center;
}

#HomePageSection2PictureSliderRightButton:hover{
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
}

#HomePageApplyGap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #AED133;
}

#HomePageApplyGapText{
    color: #331140;
    font-size: clamp(15px, 1.5vw, 3vw);
    width: clamp(40%, 650px, 80%);
    padding: 2.5%;
    text-align: center;
}

#HomePageApplyNowLink{
    color: blue;
}

#footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #250C34;
    width: 100%;
}

#footerLogo {
    position: relative;
    left: 8.5%;
    height: 15vh;
    width: 15vh;
    padding: 25px;
}

#footerButtons{
    position: relative; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    left: 5%;
}

#footerNavBar{
    position: relative;
    left: 5%;
    padding: 10px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    cursor: pointer;
    flex-wrap: wrap;
}

#footerContactButtons{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
}

#imgButtonEmailFooter{
    height: 35px;
    width: 35px;
    border-radius: 35px;
    overflow: hidden;
}

#FooterEmailButton{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    transform: scale(1.3);
}

#OurImpactPage{
    background-color: #AED133;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#OurImpactPageSection1{
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#OurImpactPageSection1ImgContainer{
    flex: 1;
    overflow: hidden;
}

#OurImpactPageSection1GroupPhoto{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    max-height: 80vh;
}

#OurImpactPageSection1TextContainer{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#OurImpactPageSection1TextBox{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 80%;
    gap: 0px;
    color:#250C34;
}

#OurImpactPageSection1TextBoxTitle{
    font-size: 3rem;
}

#OurImpactPageSection2Label{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: #D6B7FF;
    color: #250C34;
}

#OurImpactPageSection2TextBox{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    text-align: left;
    padding: 40px;
}

#OurImpactPageSection2LabelHeading{
    width: 30%;
}

#OurImpactPageSection2LabelParagraph{
    width: 60%;
    line-height: 24px;
}

#OurImpactPageSection2PictureSlider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #250C34;
}

#OurImpactPageSection2PictureSliderContainer{
    position: relative;
    border-radius: 25px;
    width: 60%;
    aspect-ratio: 10/6;
    max-height: 60vh;
    overflow: hidden;
    align-items: center;
    margin: 25px;   
}

#OurImpactPageSection2PictureSliderImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

#OurImpactPageSection2PictureSliderLeftButton{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2.5%;
    width: 5%;
    aspect-ratio: 1/1;
    border-radius: 100px;
    border: none;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: clamp(15px, 1.5vw, 3vw);
    color: white;
    cursor: pointer;
    text-align: center;
}

#OurImpactPageSection2PictureSliderLeftButton:hover{
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
}

#OurImpactPageSection2PictureSliderRightButton{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 92.5%;
    width: 5%;
    aspect-ratio: 1/1;
    border-radius: 100px;
    border: none;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: clamp(15px, 1.5vw, 3vw);
    color: white;
    cursor: pointer;
    text-align: center;
}

#OurImpactPageSection2PictureSliderRightButton:hover{
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
}

#OurImpactPageSection3Label{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: #D6B7FF;
    color: #250C34;
}

#OurImpactPageSection3TextBox{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    text-align: left;
    padding: 40px;
}

#OurImpactPageSection3LabelHeading{
    width: 30%;
}

#OurImpactPageSection3LabelParagraph{
    width: 60%;
    line-height: 24px;
}



#OurImpactPageSection3PictureSlider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #250C34;
}

#OurImpactPageSection3PictureSliderContainer{
    position: relative;
    border-radius: 25px;
    width: 60%;
    aspect-ratio: 10/6;
    max-height: 60vh;
    overflow: hidden;
    align-items: center;
    margin: 25px;   
}

#OurImpactPageSection3PictureSliderImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

#OurImpactPageSection3PictureSliderLeftButton{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2.5%;
    width: 5%;
    aspect-ratio: 1/1;
    border-radius: 100px;
    border: none;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: clamp(15px, 1.5vw, 3vw);
    color: white;
    cursor: pointer;
    text-align: center;
}

#OurImpactPageSection3PictureSliderLeftButton:hover{
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
}

#OurImpactPageSection3PictureSliderRightButton{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 92.5%;
    width: 5%;
    aspect-ratio: 1/1;
    border-radius: 100px;
    border: none;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: clamp(15px, 1.5vw, 3vw);
    color: white;
    cursor: pointer;
    text-align: center;
}

#OurImpactPageSection3PictureSliderRightButton:hover{
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
}

#OurImpactPageSection4Label{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: #D6B7FF;
    color: #250C34;
}

#OurImpactPageSection4TextBox{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    text-align: left;
    padding: 40px;
}

#OurImpactPageSection4LabelHeading{
    width: 30%;
}

#OurImpactPageSection4LabelParagraph{
    width: 60%;
    line-height: 24px;
}

#OurImpactPageSection4PictureSlider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #250C34;
}

#OurImpactPageSection4PictureSliderContainer{
    position: relative;
    border-radius: 25px;
    width: 60%;
    aspect-ratio: 10/6;
    max-height: 60vh;
    overflow: hidden;
    align-items: center;
    margin: 25px;   
}

#OurImpactPageSection4PictureSliderImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

#OurImpactPageSection4PictureSliderLeftButton{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2.5%;
    width: 5%;
    aspect-ratio: 1/1;
    border-radius: 100px;
    border: none;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: clamp(15px, 1.5vw, 3vw);
    color: white;
    cursor: pointer;
    text-align: center;
}

#OurImpactPageSection4PictureSliderLeftButton:hover{
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
}

#OurImpactPageSection4PictureSliderRightButton{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 92.5%;
    width: 5%;
    aspect-ratio: 1/1;
    border-radius: 100px;
    border: none;
    background-color: rgba(7, 6, 6, 0.3);
    font-size: clamp(15px, 1.5vw, 3vw);
    color: white;
    cursor: pointer;
    text-align: center;
}

#OurImpactPageSection4PictureSliderRightButton:hover{
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
}

#OurImpactPageSection5Label{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: #D6B7FF;
    color: #250C34;
}

#OurImpactPageSection5TextBox{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    text-align: left;
    padding: 40px;
}

#OurImpactPageSection5LabelHeading{
    width: 30%;
}

#OurImpactPageSection5LabelParagraph{
    width: 60%;
    line-height: 24px;
}


#OurImpactPageSection5PictureSlider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #250C34;
}

#OurImpactPageSection5PictureSliderContainer{
    border-radius: 25px;
    position: relative;
    width: 60%;
    aspect-ratio: 10/6;
    max-height: 60vh;
    overflow: hidden;
    align-items: center;
    margin: 25px;   
}

#OurImpactPageSection5PictureSliderImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

#OurImpactPageSection5PictureSliderLeftButton{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2.5%;
    width: 5%;
    aspect-ratio: 1/1;
    border-radius: 100px;
    border: none;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: clamp(15px, 1.5vw, 3vw);
    color: white;
    cursor: pointer;
    text-align: center;
}

#OurImpactPageSection5PictureSliderLeftButton:hover{
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
}

#OurImpactPageSection5PictureSliderRightButton{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 92.5%;
    width: 5%;
    aspect-ratio: 1/1;
    border-radius: 100px;
    border: none;
    background-color: rgba(7, 6, 6, 0.3);
    font-size: clamp(15px, 1.5vw, 3vw);
    color: white;
    cursor: pointer;
    text-align: center;
}

#OurImpactPageSection5PictureSliderRightButton:hover{
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
}

#DonationPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #AED133;
    width: 100%;
}

#DonationPageSection1{
    display: flex;
    flex-direction: row;
}

#DonationPageSection1Box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    margin: 30px;
    background-color: #250C34;
    color: #AED133;
    width: clamp(40%, 450px, 90%);
    line-height: 1.5;
    text-align: center;
}

#DonationPageSection1GoFundMeButton{
    width: 30%;
    aspect-ratio: 3/1;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    box-shadow: none;
}

#DonationPageSection1GoFundMeButton:hover{
    cursor: pointer;
}

#JoinUsPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #AED133;
    width: 100%;
}

#JoinUsPageSection1{
    display: flex;
    flex-direction: row;
}

#JoinUsPageSection1Image{
    width: clamp(40%, 50%, 90%);
    height: auto;
    object-fit: cover;
    object-position: center center;
}

#JoinUsPageSection1TextBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 25px;
    color: #250C34;
    background-color: #AED133;
    flex: 1;
    max-width: 50%;
    line-height: 1.5;
    text-align: center;
}

#JoinUsPageSection1TextContainer{
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 25px;
    color: #4C116E;
    background-color: #AED133;
    max-width: 85%;
    line-height: 1.5;
    text-align: left;
}

#JoinUsPageSection1Disclaimer{
    margin: 3px;
}

#JoinUsPageSection1Heading{
    margin-top: 2px;
}

#JoinUsPageSection1JoinButton{  
    width: 30%;
    aspect-ratio: 3/1;
    font-size: 1rem;
    background-color: #250C34;
    border: none;
    border-radius: 10px;
    box-shadow: none;
    color: white;
    cursor: pointer;
}

#ContactUsPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #AED133;
    width: 100%;
}

#ContactUsPageSection1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#ContactUsPageSection1TextBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    margin: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #250C34;
    color: white;
    width: 40%;
    line-height: 1.5;
    text-align: center;
}

#ContactUsPageSection1Heading{
    margin-bottom: 6px;
    font-size: 2rem;
    font-family: helvetica, arial, sans-serif;
    font-weight: normal;
}

#ContactUsPageEmailText{
    margin-top: 12px;
    margin-bottom: 6px;
    font-size: 1.15rem;
    font-family: helvetica, arial, sans-serif;
    font-weight: normal;
}

#ContactUsPagePhoneText{
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 1.15rem;
    font-family: helvetica, arial, sans-serif;
    font-weight: normal;
}

#ContactUsPageInstagramText{
    margin-top: 6px;
    font-size: 1.15rem;
    font-family: helvetica, arial, sans-serif;
    font-weight: normal;
}

@media (max-width: 733px){
    .navButton{
        display: none;
    }
    #NavHamburgerButton{
        display: flex;
    }

    #OurImpactPageSection1{
        display: flex;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }   

    #OurImpactPageSection1ImgContainer{
        height: 40vh;
    }

    #OurImpactPageSection1GroupPhoto{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        max-height: 80vh;
    }

    #OurImpactPageSection2TextBox{
        display: flex;
        flex-direction: column;
        width: 95%;
    }

    #OurImpactPageSection2LabelHeading{
        width: 90%;
    }

    #OurImpactPageSection2LabelParagraph{
        width: 90%;
        line-height: 24px;
    }

    #OurImpactPageSection3TextBox{
        display: flex;
        flex-direction: column;
        width: 95%;
    }

    #OurImpactPageSection3LabelHeading{
        width: 90%;
    }

    #OurImpactPageSection3LabelParagraph{
        width: 90%;
        line-height: 24px;
    }

    #OurImpactPageSection2PictureSliderContainer{
        width: 95%;
    }

    #OurImpactPageSection3PictureSliderContainer{
        width: 95%;
    }

    #OurImpactPageSection4TextBox{
        display: flex;
        flex-direction: column;
        width: 95%;
    }

    #OurImpactPageSection4LabelHeading{
        width: 90%;
    }

    #OurImpactPageSection4LabelParagraph{
        width: 90%;
        line-height: 24px;
    }

    #OurImpactPageSection4PictureSliderContainer{
        width: 95%;
    }

    #OurImpactPageSection4PictureSliderContainer{
        width: 95%;
    }

    #OurImpactPageSection5TextBox{
        display: flex;
        flex-direction: column;
        width: 95%;
    }

    #OurImpactPageSection5LabelHeading{
        width: 90%;
    }

    #OurImpactPageSection5LabelParagraph{
        width: 90%;
        line-height: 24px;
    }

    #OurImpactPageSection5PictureSliderContainer{
        width: 95%;
    }

    #OurImpactPageSection5PictureSliderContainer{
        width: 95%;
    }

    #DonationPageSection1GoFundMeButton{
        width: 90%;
        aspect-ratio: 9/1;
    }

    #JoinUsPageSection1Image{
        width: 100vw;
    }

    #JoinUsPageSection1{
        flex-direction: column;
        width: 100vw;
    }

    #JoinUsPageSection1TextBox{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 25px;
        color: #250C34;
        background-color: #AED133;
        width: 100%;
        max-width: 100%;
        line-height: 1.5;
        text-align: center;
    }

    #JoinUsPageSection1JoinButton{
        width: 100%;
        aspect-ratio: 10/1;
    }
    
    #ContactUsPageSection1TextBox{
        width: 90%;
    }
}

@media (max-width: 412px){
    #HomePageSection1Image{
        margin-top: 20px;
        margin-bottom: 20px;
    } 
}

@media (max-width: 500px){
    #HomePageSection2PictureSlider{
        width: 90%;
        padding: 5%;
    }

    #HomePageSection2PictureSliderContainer{
        width: 350px;
        height: 200px;
    }

    #footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #footerButtons{
        flex-direction: column;
        justify-content: center;    
        align-items: center;
        width: 100%;
    }

    #footerNavBar{
        width: 100%;
        left: 0;
        padding-right: 10px;
    }
}
